<%- include('../../partials/header.ejs')%>

    <div class="container my-container my-5 d-flex align-items-center justify-content-center">
        <h1 class="display-4">4O4 Not Found</h1>
    </div>

    <%- include('../../partials/footer.ejs' ) %>

        </body>

        </html>