<%- include('../../partials/header.ejs', {title: 'Internal Server Error'})%>

    <div class="container my-container my-5 d-flex align-items-center justify-content-center">
        <h1 class="display-4 text-center">Inter Server Error</h1>
    </div>

    <%- include('../../partials/footer.ejs' ) %>

        </body>

        </html>