*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(245, 245, 245);
}
.my-container{
    min-height: 70vh;
}
.logo img {
    width: 150px;
}

footer{
    text-align: center;
    padding: 10px 0;
}
.acc_link{
    display: block;
}
nav img.uploadPic {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
}