* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: rgb(245, 245, 245);
}
.my-container {
  min-height: 70vh;
}
.logo img {
  width: 150px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fde658;
    font-weight: 800;
    line-height: 34px;
}
.bg_blog {
    background: #334397;
}
.search_box {
    border: 1px solid #696969;
    border-radius: 20px;
}

.search_box input {
    border: none;
    background: none;
    outline: none;
    padding-left: 10px;
}

footer {
  text-align: center;
  padding: 10px 0;
}
.acc_link {
  display: block;
}
nav img.uploadPic {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
}

/* Sidebar Menu Style */
aside#sidebar .list-group-item a {
  text-decoration: none;
  color: #696969;
  font-weight: 700;
  text-transform: uppercase;
}

aside#sidebar .list-group-item:hover a,
aside#sidebar .list-group-item.active a {
  color: #283891;
}

aside#sidebar .list-group-item:hover ::after, aside#sidebar .list-group-item.active ::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(#283891, #fede16, #283891);
  width: 100%;
  height: 100%;
  color: #222;
  z-index: -1;
}

aside#sidebar .list-group-item {
  position: relative;
  z-index: 1;
  transition: 0.6s;
}
